<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week4_product</title>
    <link rel="stylesheet" href="css/all.css">
</head>
<style>
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Microsoft JhengHei', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
</style>

<body>
    <div id="app" class="container mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <pagination :pages="pagination" @change-pages="getProducts"></pagination>
            <button class="btn btn-primary" @click="openModal('new')">建立新產品</button>
        </div>
        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th width="120">分類</th>
                    <th>產品名稱</th>
                    <th width="120">原價</th>
                    <th width="120">售價</th>
                    <th width="120" class="text-center">是否啟用</th>
                    <th width="120" class="text-center">編輯</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,key) in products" :key="item.id">
                    <td>{{item.category}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.origin_price}}</td>
                    <td>{{item.price}}</td>
                    <td class="text-center">
                        <span class="text-success" v-if="item.enabled">啟用</span>
                        <span class="text-danger" v-else>未啟用</span>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-outline-primary" @click="openModal('edit',item)">編輯</button>
                            <button type="button" class="btn btn-outline-danger" @click="openModal('delete',item)">刪除</button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <!-- modal -->
        <product-modal :temp-product="tempProduct" :user="user" :is-new="isNew" @done="getProducts"></product-modal>
        <del-modal :temp-product="tempProduct" :user="user" @done="getProducts"></del-modal>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/all.js" type="module"></script>
</body>

</html>